<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-1 col-md-5">
      <h1 ><%= image_tag("BuzzFeed_Logo.png", class: "logo") %>
      <span class="pull-bottom">TJ & PG</span></h1>
    </div>
    <div class="col-md-offset-1 col-md-5">
      <%= image_tag("buzz_feed_buttons.png", class: " extra height") %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row naver">
    <div class="col-sm-offset-1 col-sm-10">
      <div class="row">
        <h4 class="col-sm-1">News</h4>
        <h4 class="col-sm-1">Buzz</h4>
        <h4 class="col-sm-1">Life</h4>
        <h4 class="col-sm-1">Quizzes</h4>
        <h4 class="col-sm-1">Vides</h4>
        <h4 class="col-sm-2">More <span class="glyphicon glyphicon-chevron-down"></span></h4>
        <h4 class="col-sm-offset-3 col-sm-2"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span>  <span class="glyphicon glyphicon-user" aria-hidden="true"></span></h4>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-1 col-md-7">
      <div>
        <h1> 10 Reasons why Andy and Kira should move to Denver right now!</h1>
        <h4>Because Tahra and Paul said so! And we know what's best for you.</h4>
        <h5>Posted on May 10, 2015</h5>
        <br>
        <br>
        <div>
          <%= image_tag("author.png") %> <span class="text-link"><strong> Tahra Johson & Paul Grever</strong></span>
        </div>
      </div>
      <div>
        <%= image_tag("social_bar.png", class: "wider") %>
      </div>
      <div>
        <h2>10. Because as fun as our group text chain is, wouldn't it be more fun if the "what are you kids up to tonight?" had a follow up with "Let's get cheap tickets to the Rockies game!"</h2>
        <div class="text-center">
          <%= image_tag("number_10.png") %>
        </div>
      </div>
      <div>
        <h2>9. More than 10% of the US Microbreweries are in Colorado... <%= link_to("that's 230 established breweries to check out", "http://www.colorado.com/articles/colorado-breweries-defining-craft") %>   </h2>
        <div class="text-center">
          <%= image_tag("number_9.png", class: "center-block") %>
        </div>
      </div>
      <div>
        <h2>8. The best ski buddies you could ever ask for!  </h2>
        <div class="text-center">
          <%= image_tag("number_8.png", class: "center-block") %>
          <%= image_tag("number_8pt2.png", class: "center-block") %>
        </div>
      </div>
      <div>
        <h2>7. This could be your view every weekend Dec-.... May. </h2>
        <div class="text-center">
          <%= image_tag("number_7.png", class: "center-block") %>
        </div>
      </div>
      <div>
        <h2>6. The sunsets are breathtaking (literally... Hiking at high elevation is no joke! ) </h2>
        <div class="text-center">
          <%= image_tag("number_6.png", class: "center-block") %>
          <%= image_tag("number_6pt2.png", class: "center-block") %>
          <%= image_tag("number_6pt3.png", class: "center-block") %>
        </div>
      </div>
      <div>
        <h2>5. The. Original. Chipotle. Is. <%= link_to("Here", "http://www.bloomberg.com/graphics/2015-chipotle-oral-history/") %></h2>
        <div class="text-center">
          <%= image_tag("number_5.png", class: "center-block") %>
        </div>
      </div>
      <div>
        <h2>4. Kira/Tahra needs a dance buddy</h2>
        <div class="text-center">
          <%= image_tag("number_4.png", class: "center-block") %>
        </div>
      </div>
      <div>
        <h2>3. There are SO many fun races we can all do together!!! Like the <%=link_to("Rocky Mountain brew run :-D ", "http://www.rockymountainbrewruns.com/") %></h2>
        <div class="text-center">
          <%= image_tag("number_3.png", class: "center-block") %>
          <%= image_tag("number_3pt2.png", class: "center-block") %>
        </div>
      </div>
      <div>
        <h2>2. Unlimited Camping! And <%= link_to("Hiking!", "http://www.westword.com/news/photos-ten-best-colorado-hikes-5842863")  %> and <%= link_to("Hot Springs!", "http://www.colorado.com/articles/27-colorado-hot-springs-quick-guide") %>  More than a third of Colorado’s 100,000 square miles belong to the people, much of which can be found inside beautiful <%= link_to("Colorado National Parks and Colorado State Parks.", "http://www.colorado.com/articles/quick-guide-colorado-national-parks") %></h2>
        <div class="text-center">
          <%= image_tag("number_2.png", class: "center-block") %>
        </div>
      </div>

      <div>
        <h2>1. We miss you! <strong>SO MOVE HERE ALREADY!</strong> Cheers to the mile high city!</h2>
        <div class="text-center">
          <%= image_tag("number_1.png", class: "center-block") %>
        </div>
      </div>
       <%= image_tag("social_bar.png", class: "wider") %>

    </div>


    <div class="col-md-3" >
      <div>
        <%= image_tag("news.png", class: "wider padder") %>
      </div>
      <div class="news-space">
        <%= image_tag("p_and_t.png", class: "wider") %>
        <h4 class="text-link">10 reasons why big headed men are dead sexy!</h4>
      </div>
      <div>
        <%= image_tag("andy_thigh.png", class: "wider") %>
        <h4 class="text-link">27 man thighs to get you through the week</h4>
      </div>
      <div class="news-space">
        <%= image_tag("kira_bird.png", class: "wider") %>
        <h4 class="text-link">8 reasons why pirating is taking over spring fashion</h4>
      </div>
      <div class="news-space">
        <%= image_tag("cast.png", class: "wider") %>
        <h4 class="text-link">Can you guess what this cast smells like?</h4>
      </div>
      <div class="news-space">
        <%= image_tag("ice_cream.png", class: "wider") %>
        <h4 class="text-link">12 reasons to stay positive on a Monday!</h4>
      </div>
    </div>
  </div>
</div>